.add-edit-page {
  .tab-container {
    .unit-title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      h5 {
        font-weight: bold;
      }
      i {
        color: #f44336;
        cursor: pointer;
      }
    }
    .unit-wrapper {
      border: 1px solid #eee;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 15px;
    }
    .add-btn-wrapper {
      button {
        width: 20%;
      }
    }
  }
}
