<div class="forgot__form">
    <h2>{{"ACCOUNT.FORGOT_PASS" | translate}}</h2>
    <p>
        <span>
            {{"ACCOUNT.RESET_INSTRUCTIONS" | translate}}
        </span>
    </p>
    <form [formGroup]="forgotForm" autocomplete="off" (ngSubmit)="onForgot(forgotForm)">
        <div class="row">
            <div class="field-wrapper">
                <input-field label="LABELS.FORM.EMAIL" type="email" [formGroup]="forgotForm" controlName="email">
                </input-field>
            </div>
            <div class="btn-wrapper mt-2">
                <button class="ac-btn btn-fill" [disabled]="forgotForm.invalid">
                    {{"ACTIONS.RESET" | translate}}
                </button>
            </div>
            <div class="back-wrapper">
                <a [routerLink]="'/login'">
                    {{"ACTIONS.BACK_TO_LOGIN" | translate}}
                </a>
            </div>

        </div>
    </form>
</div>