@import "abstracts/variables";

.forgot__form {
  h2 {
    font-size: 22px;
  }
  p {
    margin: 10px 0;
    span {
      color: $black-900;
      font-weight: 400;
    }
    a {
      color: $blue-500;
      font-weight: bold;
    }
  }
  .back-wrapper {
    margin-top: 15px;
    text-align: center;
    a {
      font-weight: bold;
      color: $blue-500;
    }
  }
}
