@import "abstracts/variables";

.login__form {
  h2{
    margin-bottom: 20px;
  }
  p {
    margin: 10px 0;
    span {
      color: $black-900;
      font-weight: 400;
    }
    a {
      color: $blue-500;
      font-weight: bold;
    }
  }
  .forgot-wrapper {
    margin-bottom: 11px;
    a {
      color: $blue-500;
    }
  }
}
