.register__form {
  background: #ffffff;
  box-shadow: 0 1px 2px #00000014;
  border-radius: 12px;
  padding: 24px;
  max-width: 420px;

  p {
    margin: 10px 0;
    span {
      color: #202020;
      font-weight: 400;
    }
    a {
      color: #4e57a1;
      font-weight: bold;
    }
  }
}
