@import 'abstracts/variables';

.register__form {
  p {
    margin: 10px 0;
    span {
      color: $black-900;
      font-weight: 400;
    }
    a {
      color: $blue-500;
      font-weight: bold;
    }
  }
}
