.page-container {
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 25px;
    background-color: #fff;
  }
  .page-content {
    background-color: #fff;
    padding: 24px 25px;
    margin: 24px;
    border-radius: 5px;
  }
}
