@import "abstracts/variables";

.forgot__form {
  h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  p {
    margin: 10px 0;
    span {
      color: $black-900;
      font-weight: 400;
    }
    a {
      color: $blue-500;
      font-weight: bold;
    }
  }
  .error-message {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-top: -12px;
    padding: 0 21px;
    margin-bottom: 10px;
    i {
      width: 17px;
      height: 17px;
      background: rgba(237, 28, 36, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }

    p {
      margin: 0;
      font-size: 0.8em;
    }
  }

  .back-wrapper {
    margin-top: 15px;
    text-align: center;
    a {
      font-weight: bold;
      color: $blue-500;
    }
  }
}
