<div class="forgot__form">
    <h2>{{"ACCOUNT.FORGOT_PASS" | translate}}</h2>
    <!-- <p>
        <span>
            {{"ACCOUNT.RESET_INSTRUCTIONS" | translate}}
        </span>
    </p> -->
    <form [formGroup]="forgotForm" autocomplete="off" (ngSubmit)="onForgot(forgotForm)">
        <div class="row">
            <div class="form-control-wrapper">
                <form-input [label]="'LABELS.FORM.EMAIL'" [type]="InputTypes.EMAIL"
                    [FormControl]="formControl('email')">
                </form-input>
            </div>
            <div class="form-control-wrapper">
                <form-input [label]="'LABELS.FORM.CURRENT_PASSWORD'" [type]="InputTypes.PASSWORD"
                    [FormControl]="formControl('currentPassword')">
                </form-input>
            </div>
            <div class="form-control-wrapper">
                <form-input [label]="'LABELS.FORM.NEW_PASSWORD'" [type]="InputTypes.PASSWORD"
                    [FormControl]="formControl('newPassword')">
                </form-input>
            </div>
            <div class="form-control-wrapper">
                <form-input [label]="'LABELS.FORM.CONFIRM_NEW_PASSWORD'" [type]="InputTypes.PASSWORD"
                    [FormControl]="formControl('confirmNewPassword')">
                </form-input>
            </div>
            <div class="error-message" *ngIf="formControl('confirmNewPassword').touched && forgotFormError">
                <i class="mat-error fa-solid fa-xmark"></i>
                <p class="mat-error">
                    {{'LABELS.FORM.VALIDATIONS.MIS_MATCH' | translate}}
                </p>
            </div>
            <div class="btn-wrapper mt-2">
                <button class="ac-btn btn-fill" [disabled]="forgotForm.invalid">
                    {{"ACTIONS.CHANGE_PASSWORD" | translate}}
                </button>
            </div>
            <div class="back-wrapper">
                <a [routerLink]="'/login'">
                    {{"ACTIONS.BACK_TO_LOGIN" | translate}}
                </a>
            </div>

        </div>
    </form>
</div>