.add-edit-page {
  .form-control-wrapper {
    .duration-container {
      p {
        font-weight: bold;
      }
      .duration-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 16px 0;
        background-color: #eee;
        padding: 10px 0;
        border-radius: 8px;
        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          span:first-of-type {
            font-weight: bold;
          }
        }
      }
    }
    .error-message {
      margin-top: -20px;
    }
  }

  .details-container {
    table {
      width: 100%;
      tr {
        text-align: center;
        td,
        th {
          padding: 10px 0;
        }
      }
    }
  }
}
