<div class="login__form">
    <h2>{{"ACCOUNT.SIGN_IN" | translate}}</h2>
    <p>
        <span>
            {{"ACCOUNT.DO_NOT_HAVE_ACCOUNT" | translate}}
        </span>
        <a [routerLink]="'/register'">
            {{"ACCOUNT.SIGN_UP" | translate}}
        </a>
    </p>
    <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="onLogin(loginForm)">
        <div class="row">
            <div class="field-wrapper">
                <input-field label="LABELS.FORM.EMAIL" type="email" [formGroup]="loginForm" controlName="email">
                </input-field>
            </div>
            <div class="field-wrapper">
                <input-field label="LABELS.FORM.PASSWORD" type="Password" [formGroup]="loginForm"
                    controlName="password">
                </input-field>
            </div>
            <div class="forgot-wrapper">
                <a [routerLink]="'/forgot-password'">
                    {{"ACCOUNT.FORGOT_PASS" | translate}}
                </a>
            </div>
            <div class="btn-wrapper mt-2">
                <button class="ac-btn btn-fill" [disabled]="loginForm.invalid">
                    {{"ACTIONS.SUBMIT" | translate}}
                </button>
            </div>
        </div>
    </form>
</div>

