@import "abstracts/variables";

:host {
  display: block;
  overflow: auto;
  // margin-bottom: 56px;
}

.table {
  $padding: 1rem;
  background: #edeef6;
  color: #181a31;
  border-radius: 8px;
  $border: 1px solid rgb($blue-200, 0.1);
  margin: 0;
  vertical-align: middle;
  font-size: 0.8rem;
  // color: $blue-200;
  letter-spacing: 0.5px;
  overflow: hidden;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  ::ng-deep {
    tr th,
    tr td {
      &:last-child {
        padding-right: $padding;
      }

      &:first-child {
        padding-left: $padding;
      }
    }

    td,
    th {
      border: none;
    }

    td {
      min-width: 200px;
      max-width: 200px;
      color: #424242;
    }

    tr + tr {
      border-top: $border;
    }
    tr {
      text-align: center !important;
    }
  }

  &__head {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0px 1px 1px rgb($grey-500, 0.4);
    background-color: #edeef6;

    ::ng-deep tr th {
      position: relative;
      font-size: 1rem;
      font-weight: 400;
      color: #181a31;
      font-weight: bold;

      &:not(:first-child)::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 50%;
        width: 1px;
        background-color: rgb($grey-500, 0.2);
      }
    }
  }

  &__body {
    background: #fff;
    border: 1px solid #eee;
    border-top: 0;
    border-bottom: 0;
    .--not-active {
      background-color: $grey-250;
    }
  }

  &__foot {
    border: 1px solid #eee;
    &.rtl {
    ::ng-deep.mat-paginator {
        direction: ltr !important;
        .mat-paginator-container{

          justify-content: flex-start;
        }

      }
    }
  }
}
