.asm-menu {
  width: 250px;
  .asm-menu-item {
    margin-bottom: 5px !important;
    .asm-menu-anchor {
      border-left: unset;
      padding: 1px 0;
      border-radius: 10px;
      a {
        color: $blue-200;
        padding: 12px 10px;
        &:hover {
          border-radius: 10px;
          background: $grey-100;
        }
      }
      .asm-menu-anchor__icon{
        font-size: 1.4em;
        width: 26px;
        font-weight: 700;
      }
      &.asm-menu-anchor--active {
        background: $grey-100;
        .asm-menu-anchor__icon {
          color: #fd8312;
        }
      }
      // &--open {
      //   background-color: $grey-100;
      // }
    }
  }

  .asm-menu__node {
    padding: 10px 22px;
    list-style: none;
    margin-bottom: 5px !important;
    ul {
      background-color: unset;
      border-left: 1px solid $grey;
      margin-left: 30px;
      .asm-menu-anchor {
        border-radius: 10px;
        a {
          color: $blue-200;
          &:hover {
            border-radius: 10px;
          }
        }
        &.asm-menu-anchor--active {
          .asm-menu-anchor__label {
            opacity: 1;
          }
        }
      }
      .asm-menu-item:hover {
        border-radius: 10px;
        background: $grey-100;
      }
      .asm-menu-anchor__label {
        color: $blue-200;
        opacity: 0.5;
      }
    }
  }
}
