<div class="page-container contracts-listing">
    <div class="page-header">
        <h4>{{'LABELS.CONTRACTS' | translate }}</h4>
        <div class="btn-wrapper">
            <button class="ac-btn btn-fill" [routerLink]="['/contracts/add-contract']">
                {{"CONTRACTS.ADD_NEW_CONTRACT" | translate }}
            </button>
        </div>
    </div>
    <div class="page-content">
        <section class="table-wrapper">
            <data-table class="preview__table" [dataSource]="(propertyTable$ | async)!" *ngIf="propertyTable$"
                (pageChange)="onPageChange($event)">
                <ng-template #tableHead>
                    <tr>
                        <th>{{'LABELS.OWNER_NAME' | translate}}</th>
                        <th>{{'LABELS.REAL_ESTATE_NAME' | translate}}</th>
                        <th>{{'CONTRACTS.TENANT_NAME' | translate}}</th>
                        <th>{{'PROPERTY.UNIT_NUMBER' | translate}}</th>
                        <th>{{'LABELS.CODE' | translate}}</th>
                        <th>{{'ACTIONS.ACTIONS' | translate}}</th>
                    </tr>
                </ng-template>
                <ng-template #tableRows let-row>
                    <tr>
                        <td>
                            {{row?.owner}}
                        </td>
                        <td>
                            {{row?.realEstateName}}
                        </td>
                        <td>
                            {{row?.tenant}}
                        </td>
                        <td>
                            {{row?.propertyNumber}}
                        </td>
                        <td>
                            {{row?.code}}
                        </td>
                        <td RtlDir>
                            <button mat-button [matMenuTriggerFor]="menu">
                                <i class="fa-solid fa-ellipsis"></i>
                            </button>
                            <mat-menu #menu="matMenu" RtlDir>
                                <button mat-menu-item RtlDir (click)="handleRemoveContract(row.id)">{{'ACTIONS.DELETE' |
                                    translate}}</button>
                            </mat-menu>

                        </td>
                    </tr>
                </ng-template>

                <ng-template #loaderRef></ng-template>
            </data-table>
        </section>
    </div>
</div>